html {
  background-color: #eee9de;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  text-align: left;
}

.visitkhufu {
  margin: 1.5rem;
  padding: 1em;
  color:  #333;
  border-radius: 4px;
  text-align: left;
}

div {
  width: 100px;
  border: .2em solid #333;
  padding: 1em;
  margin: 1.5rem;
  text-align: center;
}

img {
  width: 25em

}
