html {
  background-color: #eee9de;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  text-align: left;
}

div {
  display: inline-block;
  text-align: left;
  padding: 1em;
  max-width: 25em;
  vertical-align: middle;
}

section {
  text-align: center;
  padding: 2em 0;
}

h2 {
  margin-top: 0;
}

img {
  display: block;
  width: 100%;

}
